{% set image_count = namespace(value=0) %}
{% set video_count = namespace(value=0) %}
{% set add_default_system = add_default_system | default(False) %}
{% set add_prefix = add_prefix | default(True) %}
{% set add_suffix = add_suffix | default(True) %}
{% set add_vision_id = add_vision_id | default(False) %}
{% set add_generation_prompt = add_generation_prompt | default(False) %}
{% for message in messages %}
{% if add_system and loop.first and message['role'] != 'system' %}<|im_start|>system
You are a helpful assistant.<|im_end|>
{% endif %}
{% if add_prefix %}<|im_start|>{{ message['role'] }}{% endif %}
{% if message['content'] is string %}{{ message['content'] }}
{% else %}{% for content in message['content'] %}
{% if content['type'] == 'image' or 'image' in content or 'image_url' in content %}
{% set image_count.value = image_count.value + 1 %}
{% if add_vision_id %}Picture {{ image_count.value }}: {% endif %}<|vision_start|><|image_pad|><|vision_end|>
{% elif content['type'] == 'video' or 'video' in content %}
{% set video_count.value = video_count.value + 1 %}
{% if add_vision_id %}Video {{ video_count.value }}: {% endif %}<|vision_start|><|video_pad|><|vision_end|>
{% elif 'text' in content %}{{ content['text'] }}{% endif %}
{% if add_suffix %}<|im_end|>
{% endif %}
{% endfor %}
{% if add_generation_prompt %}<|im_start|>assistant
{% endif %}

