__pycache__
*hosts
*.so
build
.coverage_*
*.egg-info
*~
.vscode/
.idea/
.DS_Store

*.deb
*.swp
*.log
*.err
*.bin
*.out
*.ipynb
*.parquet
*.ttf
*.pt
hostfile

# Ignore inference results produced by visualization scripts
results/
